#chat-btn {
    width: 10rem;
    height: 4rem;
    background-color:#fdfdfd;
    border-radius: 3rem;
    position: relative;
    box-shadow: 0 0 13px #333;
  }
  #chat-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: 71px;
    bottom: -10px;
    border-left: 10px solid transparent;
    border-right: 2px solid transparent;
      border-top: 10px solid#F5FFFA;
      /* box-shadow: 0 0 13px #333; */
  }